from flask import Flask, request, render_template, send_file, send_from_directory
from flask_sqlalchemy import SQLAlchemy #  Digunakan mengatur dan berinteraksi dengan basis data MySQL.
from sqlalchemy import Column, Integer, String, LargeBinary
from io import BytesIO
from werkzeug.utils import secure_filename

import subprocess
import os
import MySQLdb

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://root:@localhost/datameteranair'
db = SQLAlchemy(app)

class ImageDetectionResult(db.Model):
    __tablename__ = 'ImageDetectionResult'

    id = Column(Integer, primary_key=True)
    filename = Column(String(255))
    detection_result = Column(String(255))
    image_data = Column(LargeBinary)

@app.route('/') # Halaman Utama Validasi Dataset dan Nilai Kembali
def index():
    try:
        db.session.query("1").from_statement("SELECT 1").all()
        db_connected = True
    except Exception as e:
        db_connected = False

    return render_template('index.html', result_image=None, result_message=None, db_connected=db_connected)

@app.route('/show-results', methods=['GET'])
def show_results():
    results = ImageDetectionResult.query.all()
    return render_template('index.html', results=results)

@app.route('/output/<image_name>', methods=['GET'])
def ambil_gambar(image_name):
    result_image_folder = 'output/exp/'  # Sesuaikan dengan lokasi folder Anda
    # Cek apakah file gambar ada di folder
    if os.path.exists(os.path.join(result_image_folder, image_name)):
        return send_file(os.path.join(result_image_folder, image_name), as_attachment=True)
    else:
        return "Gambar tidak ditemukan"
     

@app.route('/detect', methods=['POST']) # Proses Deteksi
def detect_image():
    uploaded_file = request.files['file']
    camera_name = request.form['camera_name']  # Mendapatkan nama kamera dari input 
    if uploaded_file.filename != '':
        image_filename = secure_filename(uploaded_file.filename)  # Untuk mengamankan ketika menginput ke folder
        image_path = os.path.join('input', image_filename)
        uploaded_file.save(image_path)

        command = ['python', 'yolov5/detect.py', '--weights', 'models/best.pt', '--source', image_path, '--imgsz', '640', '--conf-thres', '0.25', '--iou-thres', '0.45']

        try:
            result_message = subprocess.run(command, cwd=os.getcwd(), capture_output=True, text=True, check=True).stdout.strip()
            detected_numbers = result_message

            detection_result = ImageDetectionResult( filename=image_filename,detection_result=detected_numbers, image_data= None,camera_name=camera_name)
            db.session.add(detection_result)
            db.session.commit()

            #gambar = ambil_image(image_filename)     # Ambil gambar dari fungsi ambil_image
            
            return render_template('index.html',result_image=image_filename, result_message=detected_numbers)
        except subprocess.CalledProcessError as e:
            error_message = str(e.output)
            return render_template('index.html', result_image=None, result_message=error_message)
        except Exception as e:
            error_message = str(e)
            return render_template('index.html', result_image=None, result_message=error_message)
    else:
        return render_template('index.html', result_image="Belum Ada", result_message="Belum Ada")


     

if __name__ == '__main__':
    app.run(debug=True) # untuk menjalankan Debug Program
